*~
*.a
*.i
*.la
*.lo
*.o
*.s
*.so
ChangeLog
Makefile.bak
Makefile
Makefile.in
README.new
TAGS
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
.deps
.libs
git_version.h
stamp-h1
*.bz2
*.gz
