*~
*.a
*.i
*.la
*.lo
*.o
*.s
*.so
ChangeLog
Makefile.bak
Makefile
Makefile.in
README.new
TAGS
aclocal.m4
autom4te.cache
compile
config.h
config.h.in
config.log
config.status
configure
libtool
/build-aux/
plugins/perl/common/blib/
plugins/perl/common/pm_to_blib
plugins/perl/irc/blib/
plugins/perl/irc/pm_to_blib
.deps
.dirstamp
.libs
git_version.h
stamp-h1
*.bz2
*.gz
*.swp
ekg/ekg2
