<¶piê>		|-)
<cmok>		:-*
<zawstydzony>
<p³acze>	:,-(
<zdziwiony>	8-0
<ziew>		:-O
<serce>
<serduszka>
<ró¿a>		@-,-'--
<kwiatek>	@-`-,--
<prezent>
<list>
<kawa>
<piwo>		
<OK>		OK!
<do bani>	S*IT!
<telefon>
<komórka>	_[=]
<jab³ko>
<czas>
<dom>
<stop>		
